<ion-view view-title="Bem-vindo">
  <ion-content class="padding">

    <h2 class="text-center"><strong>Guess!!</strong></h2>
    <h5 class="text-center">Palpites de Jogos</h5>

    <div class="text-center">
      <img ng-src="img/luck.png" style="width: 64px; height: 64px">
    </div>

    <p class="text-center">
      você não possui nenhum jogo ainda, Clique abaixo para jogar
    </p>

  <a ng-click="select()" class="button button-positive button-small button-block" type="button" name="button">Jogar</a>
  </ion-content>
</ion-view>
